<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <nav class="nav">
    <div class="nav-left"><img src="/assets/logo.jpg" alt="logo" class="logo"></div>
    <ul class="nav-right">
        <li>Home</li>
        <li>Our Services</li>
        <li>About Us</li>
        <li>Contact Us</li>
        <a href="#"><i class="fa-solid fa-user"></i></a>
    </ul>
</nav>
<div class="nav-bottom"></div>
    
</body>