<% layout('./layouts/boilerplate') %>
<body>
    <form action="/listing/check" method="post"  class="title-verify">
        <input type="text" name="titleName"  class="title-input" id="titleName" placeholder="Enter Title To Verify.." value="<%=data.titleName %>">
        <button type="submit"  class="title-btn">Check</button>
    </form>
    
    <p class="probablity">Acceptance Rate: <span class="percent">50%</span></p>
    <p class="reject"><i class="fa-solid fa-x"></i> Rejected</p>
    <p class="reject-reason">"Bas aaisehe man kr rha h reject krne ka"</p>
    
    <p><%= data.probability %></p>
</body>