<% layout('./layouts/boilerplate') %>
<body>
    
        <% for(let dataSet of allDataSet){ %>
            <div class="card">
            <p><%= dataSet.titleName %></p>
            <a href="listing/show/<%= dataSet._id %>">View</a>
        </div>
        <%}%>
    

    
</body>